<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home Page{% endblock %}

{% block content %}
<div class="">
    <div class="jumbotron col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-12 col-lg-12">
        <h1 class="display-4">Welcome to WebGraphix</h1>
        <p class="lead">Here you purchase Web Design services such as Logos, Web templates and much more.</p>
        <hr class="my-4">
        <p>If you wish to purchase anything, be sure to register to create yourself an account.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Register</a>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-sm">
            <img src="{% static 'images/mousephoto.jpg' %}" class="card-img-top embed-responsive-16by9" alt="mousephoto">
            <div class="card-body">
            <p class="card-text">We will take the stress of design off you, so you can focus on what really matters.</p>
            </div>
        </div>
        <div class="card col-sm">
            <img src="{% static 'images/computerimageone.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">We will make sure your logo suits your brand, so you can stand out from the crowd.</p>
        </div>
        </div>
        <div class="card col-sm">
            <img src="{% static 'images/mobileimageone.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">All of our designs are responsive, so your customers can see your designs on mobile, tablet or PC.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

