/* FORM STYLING FOR LOGIN / REGISTRATION */

form {
    width: 40%;
}

h2 {
    align-content: center;
}

/* NAVBAR / LINK FORMATTING */

a:link{
  text-decoration: none!important;
}

#timeanddate{
    display: inline-block;
}

/* JUMBOTRON STYLING */

.jumbotron {
    background-color: #083e73;
    color: white;
}

/* CARD FORMATTING FOR INDEX */

.card {
    border: none;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

/* FOOTER FORMATTING */

#cp {
    text-align: center;
    padding-top: 5%;
}

/* RESPONSIVE STYLING */

@media (max-width: @screen-sm) { 
    .form {
        width: 100%;
    }
 }

 /* PRODUCT STYLING */

.product {
     background-size: contain;
     background-position: center center;
     background-repeat: no-repeat;
     width: 150px;
     height: 150px;
     margin: 0 auto;
 }

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
    margin-left: 5%;
}

.panel-body {
    height: 100%;
    border: none;
}

.product-description {
    min-height: 40px;
}

/* CARD STYLING FOR CART */

.card {
    border: 1px;
    border-color: black;
}