/* FORM STYLING FOR LOGIN / REGISTRATION */

form {
    width: 20%;
}

/* NAVBAR / LINK FORMATTING */

nav-item a {
    text-decoration: none;
}

/* CARD FORMATTING FOR INDEX */

.card {
    border: none;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

/* FOOTER FORMATTING */

#cp {
    text-align: center;
    padding-top: 5%;
}