/* FORM STYLING FOR LOGIN / REGISTRATION */

form {
    width: 40%;
}

h2 {
    align-content: center;
}

/* NAVBAR / LINK FORMATTING */

a {
    text-decoration: none;
}
/* JUMBOTRON STYLING */

.jumbotron {
    background-color: #083e73;
    color: white;
}

/* CARD FORMATTING FOR INDEX */

.card {
    border: none;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

/* FOOTER FORMATTING */

#cp {
    text-align: center;
    padding-top: 5%;
}

/* RESPONSIVE STYLING */

@media (max-width: @screen-sm) { 
    .form {
        width: 100%;
    }
 }