{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<div class="">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Bug Tracker</h1>
        <p class="lead">Here you can submit your bugs and have our IT team look into them for you. We also have a store which you can purchase merchandise.</p>
        <hr class="my-4">
        <p>If you wish to get started using Bug Tracker, register below.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Register</a>
</div>
</div>
<div class="row">
    <div class="card col-sm" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-sm" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class="card col-sm" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
{% endblock %}

